version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      POSTGRES_DB: ${DATABASE_DB}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASS: ${DATABASE_PASSWORD}
      DATABASE_HOST: db
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DATABASE_DB}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASS: ${DATABASE_PASSWORD}

  volumes:
    postgres_data: