services:
  db:
    image: postgres:16-alpine
    env_file: .env
    # environment тут можно оставить пустым, если в .env точно есть POSTGRES_USER и т.д.
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    env_file: .env
    ports:
      - "${PORT_PGADMIN:-5050}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

  migrations:
    build: ./backend
    volumes:
      - ./backend:/backend_app
    command: alembic -c app/database/migrations/alembic.ini upgrade head
    env_file: .env
    depends_on:
      db:
        condition: service_healthy

  backend:
    build: ./backend
    volumes:
      - ./backend:/backend_app
    ports:
      - "${PORT_BACKEND:-8000}:8000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
      kafka:
        condition: service_healthy

  worker:
    build: ./backend
    # Запускает скрипт, который слушает Kafka
    command: python -m app.worker
    env_file: .env
    restart: on-failure
    depends_on:
      kafka:
        condition: service_healthy
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "${PORT_FRONTEND:-5173}:5173"
    env_file: .env
    depends_on:
      - backend

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5

  topic-creator:
    image: confluentinc/cp-kafka:7.5.0
    container_name: topic_creator
    depends_on:
      kafka:
        condition: service_healthy
    command:
      [
        "kafka-topics",
        "--create",
        "--topic", "chat_messages",
        "--bootstrap-server", "kafka:29092",
        "--partitions", "1",
        "--replication-factor", "1",
        "--if-not-exists"
      ]

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "${PORT_KAFKA_UI:-8080}:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      kafka:
        condition: service_healthy

volumes:
  postgres_data:
  pgadmin_data:
