version: '3.8'

services:
  db:
    image: postgres:16-alpine
    env_file: .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    build: .
    volumes:
      - .:/messenger
    command: alembic -c app/database/migrations/alembic.ini upgrade head
    env_file: .env
    environment:
      - DATABASE_HOST=db
    depends_on:
      db:
        condition: service_healthy

  app:
    build: .
    volumes:
      - .:/messenger
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      - DATABASE_HOST=db
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      # ИЗМЕНЕНО: Используем имя сервиса 'app' вместо 'localhost'
      - VITE_API_URL=http://localhost:8000
    depends_on:
      # ИЗМЕНЕНО: Зависимость от сервиса 'app' вместо 'backend'
      - app

volumes:
  postgres_data:
