body {
    background-color: #f0f2f5;
}

#messages {
    height: 450px;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.msg-item {
    padding: 8px 12px;
    border-radius: 15px;
    background: #e9ecef;
    align-self: flex-start;
    max-width: 80%;
    font-family: sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

/* Стили для своих сообщений (позже добавим логику) */
.my-message {
    background: #007bff;
    color: white;
    align-self: flex-end;
}